
= image_tag 'logo.png', class: 'logo', height: 300

= form_for :happiness_test, url: {action: "create"} do |f|
  %fieldset
    %legend 
      Как вы считаете, если этот тест/сайт сделает вас хотя бы немного счастливее, стоит попробовать?
    .field
      = f.label :happy_try, 'Yes', value: 'yes'
      = f.radio_button :happy_try, 'yes'
    .field
      = f.label :happy_try, 'No', value: 'no'
      = f.radio_button :happy_try, 'no'
  .actions
    = f.submit "Submit"


Форма с первым вопросом:
Как вы считаете, если этот тест/сайт сделает вас хотя бы немного счастливее, стоит попробовать?
или
Вы хотите быть счастливым человеком? Или хотя бы немного счастливее?


Гарантия возврата денег!

Всего $1.99
разве это много, чтобы стать счастливее?



121 довольный клиент!

Крупный шрифт

Вернуть свои денежки

Есть вопросы? - intercom

куки попап
